.advantages {
	padding: 80px 0;
}

.page__advantages {
	background: #FAFAFA;
}

.advantanges__header {
	margin-bottom: 35px;
}

.header-block {
	text-align: center;
}

.header-block__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.42;
	letter-spacing: 0.2px;

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.header-block__subtitle {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: 0.2px;
	color: $gray;

}