.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}

.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}

.header__menu {
	margin: 0 0 0 133px;
}

.menu {
	padding: 5px 0;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;

}

.menu__item {

	&:not(:last-child) {
		margin-right: 21px;
	}
}

.menu__link {
	color: $gray;
	font-weight: 600;
	line-height: 1.71;
	transition: color 0.2s ease-in;

	&:hover {
		color: #252525;
	}
}