.practice__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -20px -30px;
}

.practice__column {
	padding: 0px 20px;
	flex: 0 1 25%;
}

.practice__item {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	height: 100%;
}

.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}

.item-practice__link {
	color: inherit;
	display: inline-block;

}

.item-practice__link:hover {
	text-decoration: underline;
}

.item-practice__link:not(:last-child) {
	margin-bottom: 15px;
}

.item-practice__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.1px;
}

.item-practice__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: 0.2px;
	color: $gray;
}

.item-practice-img {
	cursor: pointer;
}